designs/services/auth.json
[
    {
        "id": "sd_ojOOkGOzPuNgge52",
        "type": "tab",
        "createdDate": "2024-06-03T10:47:04.502Z",
        "label": "auth",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "tabType": "client",
        "generateNext": true,
        "serviceName": "auth",
        "relativeParentPath": ""
    },
    {
        "id": "sd_G33L0zNhU8SAOH44",
        "type": "Start",
        "z": "sd_ojOOkGOzPuNgge52",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "Process login results",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "loginResults",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "accept_bh": false,
        "functionName": "processLoginResults",
        "category": "General",
        "x": 80,
        "y": 80,
        "wires": [
            [
                "sd_9pIEKdAkvVPKstpC"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth"
    },
    {
        "id": "sd_rKBePt8tMDml9hDI",
        "type": "Start",
        "z": "sd_ojOOkGOzPuNgge52",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "Store Tokens",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "tokens",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "accept_bh": false,
        "functionName": "storeTokens",
        "category": "General",
        "x": 85,
        "y": 200,
        "wires": [
            [
                "sd_xs16UjSTEXTy36wv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth"
    },
    {
        "id": "sd_qUcSO4aCOM3NPd88",
        "type": "CallService",
        "z": "sd_ojOOkGOzPuNgge52",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_ojOOkGOzPuNgge52",
            "type": "tab",
            "createdDate": "2024-06-03T10:47:04.502Z",
            "label": "auth",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_rKBePt8tMDml9hDI",
            "flowName": "storeTokens"
        },
        "inputVariables": [
            {
                "key": "tokens",
                "map": true,
                "valueType": "bh.input",
                "value": "loginResults"
            }
        ],
        "bhVariables": [],
        "outputMapping": [],
        "callService": "./auth",
        "startName": "storeTokens",
        "inputParams": [
            "bh.input.loginResults"
        ],
        "accept_bh": false,
        "functionName": "sd_qUcSO4aCOM3NPd88",
        "category": "General",
        "x": 485,
        "y": 80,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth"
    },
    {
        "id": "sd_CCJgVh4Lb2rC3Foe",
        "type": "Storage",
        "z": "sd_ojOOkGOzPuNgge52",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "accessToken"
        },
        "value": {
            "type": "bh.input",
            "value": "tokens.accessToken"
        },
        "resultMapping": {},
        "functionName": "sd_CCJgVh4Lb2rC3Foe",
        "category": "Storage",
        "x": 385,
        "y": 200,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_50maDWicmOXPr1NR",
        "type": "Storage",
        "z": "sd_ojOOkGOzPuNgge52",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "refreshToken"
        },
        "value": {
            "type": "bh.input",
            "value": "tokens.accessToken"
        },
        "resultMapping": {},
        "functionName": "sd_50maDWicmOXPr1NR",
        "category": "Storage",
        "x": 285,
        "y": 200,
        "wires": [
            [
                "sd_CCJgVh4Lb2rC3Foe"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_0LyLXwETx3Qm87jX",
        "type": "ServiceVariables",
        "z": "sd_ojOOkGOzPuNgge52",
        "viewType": "client-server",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "tokenSubject",
                "typedIpValue": {
                    "type": "bh.input",
                    "value": ""
                }
            },
            {
                "textIp": "refreshInProgress",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            }
        ],
        "functionName": "sd_0LyLXwETx3Qm87jX",
        "category": "Function",
        "x": 285,
        "y": 80,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_8Pf3mGs22jJEnOS8",
        "type": "Script",
        "z": "sd_ojOOkGOzPuNgge52",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// console.log(\"bh.input.tokenSubject\",bh.input.tokenSubject);\nbh.tokenSubject = new BehaviorSubject<string>(null);",
        "functionName": "sd_8Pf3mGs22jJEnOS8",
        "category": "Function",
        "x": 385,
        "y": 80,
        "wires": [
            [
                "sd_qUcSO4aCOM3NPd88"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth"
    },
    {
        "id": "sd_9pIEKdAkvVPKstpC",
        "type": "UseDependency",
        "z": "sd_ojOOkGOzPuNgge52",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "BehaviorSubject",
                "typedIpValue": {
                    "type": "bh",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "rxjs",
        "serviceDesignerType": "client",
        "functionName": "sd_9pIEKdAkvVPKstpC",
        "category": "Function",
        "x": 185,
        "y": 80,
        "wires": [
            [
                "sd_0LyLXwETx3Qm87jX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_QBTwkjHJHetSzLJZ",
        "type": "Start",
        "z": "sd_ojOOkGOzPuNgge52",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "Clear Tokens",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "accept_bh": false,
        "functionName": "clearTokens",
        "category": "General",
        "x": 85,
        "y": 420,
        "wires": [
            [
                "sd_Hg7zQUzGXPC0hs8g",
                "sd_nmHwIN3R6VB8Qywl"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth"
    },
    {
        "id": "sd_Hg7zQUzGXPC0hs8g",
        "type": "Storage",
        "z": "sd_ojOOkGOzPuNgge52",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "removeItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "accessToken"
        },
        "value": {},
        "resultMapping": {},
        "functionName": "sd_Hg7zQUzGXPC0hs8g",
        "category": "Storage",
        "x": 205,
        "y": 380,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_nk18gGVhtmfCGVvK",
        "type": "Start",
        "z": "sd_ojOOkGOzPuNgge52",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "Get Access Token",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "accessToken",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "localVariables": [],
        "accept_bh": false,
        "functionName": "getAccessToken",
        "category": "General",
        "x": 85,
        "y": 580,
        "wires": [
            [
                "sd_KmmKQUUnQNDE4Eif"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth"
    },
    {
        "id": "sd_KmmKQUUnQNDE4Eif",
        "type": "Storage",
        "z": "sd_ojOOkGOzPuNgge52",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "accessToken"
        },
        "value": {},
        "resultMapping": {
            "type": "bh.input",
            "value": "accessToken"
        },
        "functionName": "sd_KmmKQUUnQNDE4Eif",
        "category": "Storage",
        "x": 185,
        "y": 580,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_nmHwIN3R6VB8Qywl",
        "type": "Storage",
        "z": "sd_ojOOkGOzPuNgge52",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "removeItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "refreshToken"
        },
        "value": {},
        "resultMapping": {},
        "functionName": "sd_nmHwIN3R6VB8Qywl",
        "category": "Storage",
        "x": 205,
        "y": 460,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_A9yxlT7aoo8qBdMP",
        "type": "Storage",
        "z": "sd_ojOOkGOzPuNgge52",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "refreshToken"
        },
        "value": {},
        "resultMapping": {
            "type": "bh.input",
            "value": "refreshToken"
        },
        "functionName": "sd_A9yxlT7aoo8qBdMP",
        "category": "Storage",
        "x": 165,
        "y": 700,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_sgRTUBgfRRD04wyt",
        "type": "Start",
        "z": "sd_ojOOkGOzPuNgge52",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "Get Refresh Token",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "refreshToken",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "localVariables": [],
        "accept_bh": false,
        "functionName": "getRefreshToken",
        "category": "General",
        "x": 65,
        "y": 700,
        "wires": [
            [
                "sd_A9yxlT7aoo8qBdMP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth"
    },
    {
        "id": "sd_djlNlJjpC2fmIXGB",
        "type": "Start",
        "z": "sd_ojOOkGOzPuNgge52",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "Logout",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "accept_bh": false,
        "functionName": "logout",
        "category": "General",
        "x": 65,
        "y": 800,
        "wires": [
            [
                "sd_fT9Pg2P0uidxRHc4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth"
    },
    {
        "id": "sd_fT9Pg2P0uidxRHc4",
        "type": "CallService",
        "z": "sd_ojOOkGOzPuNgge52",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_ojOOkGOzPuNgge52",
            "type": "tab",
            "createdDate": "2024-06-03T10:47:04.502Z",
            "label": "auth",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_QBTwkjHJHetSzLJZ",
            "flowName": "clearTokens"
        },
        "inputVariables": [],
        "bhVariables": [],
        "outputMapping": [],
        "callService": "./auth",
        "startName": "clearTokens",
        "inputParams": [],
        "accept_bh": false,
        "functionName": "sd_fT9Pg2P0uidxRHc4",
        "category": "General",
        "x": 165,
        "y": 800,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_xs16UjSTEXTy36wv",
        "type": "Script",
        "z": "sd_ojOOkGOzPuNgge52",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.input.tokenSubject.next(bh.input.tokens.accessToken);\nconsole.log(\"bh.tokenSubject\",bh.input.tokenSubject);",
        "functionName": "sd_xs16UjSTEXTy36wv",
        "category": "Function",
        "x": 185,
        "y": 200,
        "wires": [
            [
                "sd_50maDWicmOXPr1NR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    }
]
