designs/services/common.json
[
    {
        "id": "sd_taxbwnmVnLmX0xn8",
        "type": "tab",
        "createdDate": "2024-06-01T15:55:59.764Z",
        "label": "common",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "tabType": "client",
        "generateNext": true,
        "serviceName": "common",
        "relativeParentPath": ""
    },
    {
        "id": "sd_Z5fkQddnj59gYtGb",
        "type": "Start",
        "z": "sd_taxbwnmVnLmX0xn8",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "Go Back",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "accept_bh": false,
        "functionName": "goBack",
        "category": "General",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "sd_06KrLBLjKoDDinkp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "common"
    },
    {
        "id": "sd_06KrLBLjKoDDinkp",
        "type": "UseDependency",
        "z": "sd_taxbwnmVnLmX0xn8",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "Location",
                "typedIpValue": {
                    "type": "bh",
                    "value": "location"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "@angular/common",
        "serviceDesignerType": "client",
        "functionName": "sd_06KrLBLjKoDDinkp",
        "category": "Function",
        "x": 225,
        "y": 80,
        "wires": [
            [
                "sd_tAtwyOVd09bFBu4f"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "common",
        "generated": true
    },
    {
        "id": "sd_tAtwyOVd09bFBu4f",
        "type": "Script",
        "z": "sd_taxbwnmVnLmX0xn8",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.location.back();",
        "functionName": "sd_tAtwyOVd09bFBu4f",
        "category": "Function",
        "x": 345,
        "y": 80,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "common",
        "generated": true
    },
    {
        "id": "sd_wqYJlenU6aOtUo9l",
        "type": "ServiceVariables",
        "z": "sd_taxbwnmVnLmX0xn8",
        "viewType": "client-server",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "data",
                "typedIpValue": {
                    "type": "bh.input",
                    "value": "data"
                }
            }
        ],
        "functionName": "sd_wqYJlenU6aOtUo9l",
        "category": "Function",
        "x": 120,
        "y": 200,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "common",
        "generated": true
    },
    {
        "id": "sd_ddUWlM1FFwamtgaQ",
        "type": "Start",
        "z": "sd_taxbwnmVnLmX0xn8",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "setVariable",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "data",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "localVariables": [],
        "accept_bh": false,
        "functionName": "setVariable",
        "category": "General",
        "x": 40,
        "y": 200,
        "wires": [
            [
                "sd_wqYJlenU6aOtUo9l"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "common"
    },
    {
        "id": "sd_7la9rmA713xPkODo",
        "type": "Start",
        "z": "sd_taxbwnmVnLmX0xn8",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "getVariable",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [
            {
                "key": "data",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "accept_bh": false,
        "functionName": "getVariable",
        "category": "General",
        "x": 45,
        "y": 300,
        "wires": [
            [
                "sd_hMtyHgMJgLgUannO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "common"
    },
    {
        "id": "sd_hMtyHgMJgLgUannO",
        "type": "ServiceVariables",
        "z": "sd_taxbwnmVnLmX0xn8",
        "viewType": "client-server",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "get",
        "globalVariables": [
            {
                "textIp": "data",
                "typedIpValue": {
                    "type": "bh.local",
                    "value": "data"
                }
            }
        ],
        "functionName": "sd_hMtyHgMJgLgUannO",
        "category": "Function",
        "x": 120,
        "y": 300,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "common",
        "generated": true
    }
]
