designs/pages/approved.json
[
    {
        "id": "sd_ObY6teT8ZxXL0ikd",
        "type": "tab",
        "createdDate": "2024-06-14T11:43:30.195Z",
        "label": "approved",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "approvedComponent"
    },
    {
        "id": "sd_xwqezHTwsGuL0KGl",
        "type": "OnInit",
        "z": "sd_ObY6teT8ZxXL0ikd",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_xwqezHTwsGuL0KGl",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 60,
        "wires": [
            [
                "sd_lGS5ftHrf8VbNQ2C"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "approvedComponent"
    },
    {
        "id": "sd_qCJLjqDp4mVeuXqA",
        "type": "PageVariables",
        "z": "sd_ObY6teT8ZxXL0ikd",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "overviewCards",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "applicationsDatasource",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            },
            {
                "textIp": "searchValue",
                "typedIpValue": {
                    "type": "literal",
                    "value": "''"
                }
            },
            {
                "textIp": "backupapplicationsDatasource",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "showSpinner",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "tempPassword",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "notificationsCount",
                "typedIpValue": {
                    "type": "literal",
                    "value": "0"
                }
            },
            {
                "textIp": "binApplicationsCount",
                "typedIpValue": {
                    "type": "literal",
                    "value": "0"
                }
            },
            {
                "textIp": "totalApplications",
                "typedIpValue": {
                    "type": "literal",
                    "value": "0"
                }
            },
            {
                "textIp": "currentPageIndex",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_qCJLjqDp4mVeuXqA",
        "category": "Function",
        "x": 285,
        "y": 60,
        "wires": [
            [
                "sd_R86kR1CwKPe04Sua"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "approvedComponent",
        "generated": true
    },
    {
        "id": "sd_lGS5ftHrf8VbNQ2C",
        "type": "UseDependency",
        "z": "sd_ObY6teT8ZxXL0ikd",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "MatMenuModule",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "searchValue",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "ssdUrl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/material/menu",
        "serviceDesignerType": "pages",
        "functionName": "sd_lGS5ftHrf8VbNQ2C",
        "category": "Function",
        "x": 165,
        "y": 60,
        "wires": [
            [
                "sd_qCJLjqDp4mVeuXqA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "approvedComponent",
        "generated": true
    },
    {
        "id": "sd_R86kR1CwKPe04Sua",
        "type": "Script",
        "z": "sd_ObY6teT8ZxXL0ikd",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.overviewCards = [\n    {\n        imgSrc: 'https://www.fnb.co.za/_assets/images/mm/fnb/pc/products/15/DDA13/card.png?v=3.14.0',\n        label: 'Easy PAYU',\n        amt: '0',\n    },\n    {\n        imgSrc: 'https://www.fnb.co.za/_assets/images/mm/fnb/pc/products/15/DDA13/card.png?v=3.14.0',\n        label: 'Easy Smart',\n        amt: '0'\n    },\n    {\n        imgSrc: 'https://www.fnb.co.za/_assets/images/mm/fnb/pc/products/15/DDAQ1/card.png?v=3.14.0',\n        label: 'Aspire',\n        amt: '0'\n    }\n]",
        "functionName": "sd_R86kR1CwKPe04Sua",
        "category": "Function",
        "x": 385,
        "y": 60,
        "wires": [
            [
                "sd_TpTyI7FdIj7VbaYO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "approvedComponent",
        "generated": true
    },
    {
        "id": "sd_TpTyI7FdIj7VbaYO",
        "type": "PageCallService",
        "z": "sd_ObY6teT8ZxXL0ikd",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_ObY6teT8ZxXL0ikd",
            "type": "tab",
            "createdDate": "2024-06-14T11:43:30.195Z",
            "label": "approved",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_f2wp6IzZnm9XWaQ6",
            "flowName": "refreshAllApplications"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "refreshAllApplications",
        "inputParams": [],
        "accept_csd": false,
        "functionName": "sd_TpTyI7FdIj7VbaYO",
        "category": "General",
        "x": 485,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "approvedComponent",
        "generated": true
    },
    {
        "id": "sd_JGfmyzNyfokff8pt",
        "type": "Script",
        "z": "sd_ObY6teT8ZxXL0ikd",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + '/get-users';",
        "functionName": "sd_JGfmyzNyfokff8pt",
        "category": "Function",
        "x": 265,
        "y": 180,
        "wires": [
            [
                "sd_jK7i1bJsoAFj0mM5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "approvedComponent",
        "generated": true
    },
    {
        "id": "sd_jK7i1bJsoAFj0mM5",
        "type": "HttpRequest",
        "z": "sd_ObY6teT8ZxXL0ikd",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "Get all applications",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "getAllApplications",
        "category": "HTTP",
        "x": 380,
        "y": 180,
        "wires": [
            [
                "sd_ounTU43rUmGDc7rO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "approvedComponent",
        "generated": true
    },
    {
        "id": "sd_ounTU43rUmGDc7rO",
        "type": "Script",
        "z": "sd_ObY6teT8ZxXL0ikd",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// Exclude admin account\npage.result = page.result.filter((account) => account.email !== 'admin@gmail.com');\n\nbh.newDataSource = page.result.reverse().filter((user:any) =>{\nreturn user.status == \"Approved\"\n})\n\npage.applicationsDatasource = bh.newDataSource\npage.backupapplicationsDatasource = page.applicationsDatasource;\npage.totalApplications = page.applicationsDatasource.length;\npage.notificationsApplications = page.result.filter(application => application.status === 'Pending').length",
        "functionName": "sd_ounTU43rUmGDc7rO",
        "category": "Function",
        "x": 505,
        "y": 180,
        "wires": [
            [
                "sd_dXDHYhiXjTi5sWny"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "approvedComponent",
        "generated": true
    },
    {
        "id": "sd_f2wp6IzZnm9XWaQ6",
        "type": "PageStart",
        "z": "sd_ObY6teT8ZxXL0ikd",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Refresh all applications",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "refreshAllApplications",
        "category": "General",
        "x": 65,
        "y": 180,
        "wires": [
            [
                "sd_jASRSXaAyAbcTyLZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "approvedComponent"
    },
    {
        "id": "sd_jASRSXaAyAbcTyLZ",
        "type": "Environment",
        "z": "sd_ObY6teT8ZxXL0ikd",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_jASRSXaAyAbcTyLZ",
        "category": "General",
        "x": 165,
        "y": 180,
        "wires": [
            [
                "sd_JGfmyzNyfokff8pt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "approvedComponent",
        "generated": true
    },
    {
        "id": "sd_dXDHYhiXjTi5sWny",
        "type": "PageCallService",
        "z": "sd_ObY6teT8ZxXL0ikd",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_ObY6teT8ZxXL0ikd",
            "type": "tab",
            "createdDate": "2024-06-14T11:43:30.195Z",
            "label": "approved",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_EPLyog1jb5iU7vLy",
            "flowName": "rereshBinApplications"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "rereshBinApplications",
        "inputParams": [],
        "accept_csd": false,
        "functionName": "sd_dXDHYhiXjTi5sWny",
        "category": "General",
        "x": 605,
        "y": 180,
        "wires": [
            [
                "sd_s38AhYYZf0OXMpEc"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "approvedComponent",
        "generated": true
    },
    {
        "id": "sd_s38AhYYZf0OXMpEc",
        "type": "PageCallService",
        "z": "sd_ObY6teT8ZxXL0ikd",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_ObY6teT8ZxXL0ikd",
            "type": "tab",
            "createdDate": "2024-06-14T11:43:30.195Z",
            "label": "approved",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_xiTugemDzXfNB4aO",
            "flowName": "determineUnreadNotifications"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "determineUnreadNotifications",
        "inputParams": [],
        "accept_csd": false,
        "functionName": "sd_s38AhYYZf0OXMpEc",
        "category": "General",
        "x": 745,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "approvedComponent",
        "generated": true
    },
    {
        "id": "sd_iyRRyicTkYEmT9CH",
        "type": "Script",
        "z": "sd_ObY6teT8ZxXL0ikd",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + '/get-bin';",
        "functionName": "sd_iyRRyicTkYEmT9CH",
        "category": "Function",
        "x": 145,
        "y": 280,
        "wires": [
            [
                "sd_H64edbkInBhWmwNR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "approvedComponent",
        "generated": true
    },
    {
        "id": "sd_H64edbkInBhWmwNR",
        "type": "HttpRequest",
        "z": "sd_ObY6teT8ZxXL0ikd",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "Get all bin applications",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "getAllBinApplications",
        "category": "HTTP",
        "x": 265,
        "y": 280,
        "wires": [
            [
                "sd_b5VOtXcYQbYmB2hN"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "approvedComponent",
        "generated": true
    },
    {
        "id": "sd_b5VOtXcYQbYmB2hN",
        "type": "Script",
        "z": "sd_ObY6teT8ZxXL0ikd",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.binApplicationsCount = page.result.length;",
        "functionName": "sd_b5VOtXcYQbYmB2hN",
        "category": "Function",
        "x": 385,
        "y": 280,
        "wires": [
            [
                "sd_7WUT7yjztp9Ryt2E"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "approvedComponent",
        "generated": true
    },
    {
        "id": "sd_EPLyog1jb5iU7vLy",
        "type": "PageStart",
        "z": "sd_ObY6teT8ZxXL0ikd",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Reresh bin applications",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "rereshBinApplications",
        "category": "General",
        "x": 45,
        "y": 280,
        "wires": [
            [
                "sd_iyRRyicTkYEmT9CH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "approvedComponent"
    },
    {
        "id": "sd_7WUT7yjztp9Ryt2E",
        "type": "PageCallService",
        "z": "sd_ObY6teT8ZxXL0ikd",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_ObY6teT8ZxXL0ikd",
            "type": "tab",
            "createdDate": "2024-06-14T11:43:30.195Z",
            "label": "approved",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_EPLyog1jb5iU7vLy",
            "flowName": "rereshBinApplications"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "rereshBinApplications",
        "inputParams": [],
        "accept_csd": false,
        "functionName": "sd_7WUT7yjztp9Ryt2E",
        "category": "General",
        "x": 485,
        "y": 280,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "approvedComponent",
        "generated": true
    },
    {
        "id": "sd_kEc0dwElojnl1rV6",
        "type": "Script",
        "z": "sd_ObY6teT8ZxXL0ikd",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + '/get-notifications';",
        "functionName": "sd_kEc0dwElojnl1rV6",
        "category": "Function",
        "x": 245,
        "y": 380,
        "wires": [
            [
                "sd_tY7NpT6ErPjN6VN1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "approvedComponent",
        "generated": true
    },
    {
        "id": "sd_tY7NpT6ErPjN6VN1",
        "type": "HttpRequest",
        "z": "sd_ObY6teT8ZxXL0ikd",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "Get all notifications",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "getAllNotifications",
        "category": "HTTP",
        "x": 340,
        "y": 380,
        "wires": [
            [
                "sd_PMx0Pwq44j67OG8e"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "approvedComponent",
        "generated": true
    },
    {
        "id": "sd_PMx0Pwq44j67OG8e",
        "type": "Script",
        "z": "sd_ObY6teT8ZxXL0ikd",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// Determine all unread\npage.notificationsCount = 0;\npage.result.forEach((notification) => {\n    if(!notification.read){\n        page.notificationsCount++;\n    }\n})",
        "functionName": "sd_PMx0Pwq44j67OG8e",
        "category": "Function",
        "x": 445,
        "y": 380,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "approvedComponent",
        "generated": true
    },
    {
        "id": "sd_xiTugemDzXfNB4aO",
        "type": "PageStart",
        "z": "sd_ObY6teT8ZxXL0ikd",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Determine Unread Notifications",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "determineUnreadNotifications",
        "category": "General",
        "x": 45,
        "y": 380,
        "wires": [
            [
                "sd_Rx7CrOncMhxdPWSy"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "approvedComponent"
    },
    {
        "id": "sd_Rx7CrOncMhxdPWSy",
        "type": "Environment",
        "z": "sd_ObY6teT8ZxXL0ikd",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_Rx7CrOncMhxdPWSy",
        "category": "General",
        "x": 145,
        "y": 380,
        "wires": [
            [
                "sd_kEc0dwElojnl1rV6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "approvedComponent",
        "generated": true
    },
    {
        "id": "sd_Fk9vbctNZZmFRVL4",
        "type": "PageStart",
        "z": "sd_ObY6teT8ZxXL0ikd",
        "viewType": "pages",
        "nodeType": "start",
        "name": "close",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "close",
        "category": "General",
        "x": 25,
        "y": 500,
        "wires": [
            [
                "sd_22FhoQpB1c9ypKVo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "approvedComponent"
    },
    {
        "id": "sd_22FhoQpB1c9ypKVo",
        "type": "CloseDialog",
        "z": "sd_ObY6teT8ZxXL0ikd",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "data": "bh.system",
        "functionName": "sd_22FhoQpB1c9ypKVo",
        "category": "Dialog",
        "x": 110,
        "y": 500,
        "wires": [
            [
                "sd_vbg6b3tAXecuczdv"
            ]
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "bh",
                "value": "system",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "approvedComponent",
        "generated": true
    },
    {
        "id": "sd_vbg6b3tAXecuczdv",
        "type": "SnackBar",
        "z": "sd_ObY6teT8ZxXL0ikd",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Approved table closed"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_vbg6b3tAXecuczdv",
        "category": "General",
        "x": 210,
        "y": 500,
        "wires": [
            [
                "sd_t0tjYj4G0f6uvbv0"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "approvedComponent",
        "generated": true
    },
    {
        "id": "sd_t0tjYj4G0f6uvbv0",
        "type": "PageCallService",
        "z": "sd_ObY6teT8ZxXL0ikd",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_ObY6teT8ZxXL0ikd",
            "type": "tab",
            "createdDate": "2024-06-14T11:43:30.195Z",
            "label": "approved",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_f2wp6IzZnm9XWaQ6",
            "flowName": "refreshAllApplications"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "refreshAllApplications",
        "inputParams": [],
        "accept_csd": false,
        "functionName": "sd_t0tjYj4G0f6uvbv0",
        "category": "General",
        "x": 310,
        "y": 500,
        "wires": [
            [
                "sd_da8cROatf2G1L8OY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "approvedComponent",
        "generated": true
    },
    {
        "id": "sd_da8cROatf2G1L8OY",
        "type": "PageCallService",
        "z": "sd_ObY6teT8ZxXL0ikd",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_ObY6teT8ZxXL0ikd",
            "type": "tab",
            "createdDate": "2024-06-14T11:43:30.195Z",
            "label": "approved",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_xiTugemDzXfNB4aO",
            "flowName": "determineUnreadNotifications"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "determineUnreadNotifications",
        "inputParams": [],
        "accept_csd": false,
        "functionName": "sd_da8cROatf2G1L8OY",
        "category": "General",
        "x": 450,
        "y": 500,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "approvedComponent",
        "generated": true
    },
    {
        "id": "sd_5JXFxuQxctbEa9tP",
        "type": "PageStart",
        "z": "sd_ObY6teT8ZxXL0ikd",
        "viewType": "pages",
        "nodeType": "start",
        "name": "viewDocuments",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "row",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "viewDocuments",
        "category": "General",
        "x": 65,
        "y": 620,
        "wires": [
            [
                "sd_uWLpuPMKwkJPijhL"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "approvedComponent"
    },
    {
        "id": "sd_uWLpuPMKwkJPijhL",
        "type": "OpenDialog",
        "z": "sd_ObY6teT8ZxXL0ikd",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 4,
        "flow": {
            "flowId": "sd_kAy5Bsm5JnaFapnP",
            "label": "documents"
        },
        "relativePath": "app/components/documents",
        "data": "bh.input.row",
        "ariaDescribedBy": "this.page",
        "ariaLabel": "this.page",
        "ariaLabelledBy": "this.page",
        "autoFocus": "this.page",
        "backdropClass": "this.page",
        "closeOnNavigation": "this.page",
        "direction": "this.page",
        "disableClose": "this.page",
        "hasBackdrop": "this.page",
        "height": "this.page",
        "maxHeight": "this.page",
        "minHeight": "this.page",
        "width": "this.page",
        "maxWidth": "this.page",
        "minWidth": "this.page",
        "panelClass": "this.page",
        "position": "this.page",
        "restoreFocus": "this.page",
        "role": "this.page",
        "resultMapping": "this.page",
        "functionName": "sd_uWLpuPMKwkJPijhL",
        "category": "Dialog",
        "x": 150,
        "y": 620,
        "wires": [
            [],
            [],
            [],
            []
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "bh.input",
                "value": "row",
                "constant": false
            },
            "ariaDescribedBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabel": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabelledBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "autoFocus": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "backdropClass": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "closeOnNavigation": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "direction": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "disableClose": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "hasBackdrop": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "height": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "maxHeight": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "minHeight": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "width": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "maxWidth": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "minWidth": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "panelClass": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "position": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "restoreFocus": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "role": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "resultMapping": {
                "type": "this.page",
                "value": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "approvedComponent",
        "generated": true
    }
]
