designs/pages/bin.json
[
    {
        "id": "sd_QJROEOAEa9jpn569",
        "type": "tab",
        "createdDate": "2024-06-12T18:42:27.650Z",
        "label": "bin",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "binComponent"
    },
    {
        "id": "sd_TtR0aNeYm0CQu7nU",
        "type": "OnInit",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_TtR0aNeYm0CQu7nU",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_Nl48BFmHErwb0WwS"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "binComponent"
    },
    {
        "id": "sd_uYX9Nk0lVRc6u8su",
        "type": "Script",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + '/get-bin';",
        "functionName": "sd_uYX9Nk0lVRc6u8su",
        "category": "Function",
        "x": 545,
        "y": 180,
        "wires": [
            [
                "sd_8OecDrFgFhQyms0S"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_7HqqK2ym3dPFJ2n8",
        "type": "PageStart",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "pages",
        "nodeType": "start",
        "name": "searchTable",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "searchTable",
        "category": "General",
        "x": 85,
        "y": 180,
        "wires": [
            [
                "sd_LYyzDzjkK5yX2PEc"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "binComponent"
    },
    {
        "id": "sd_LYyzDzjkK5yX2PEc",
        "type": "Script",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "const searchResults = [];\npage.backupapplicationsDatasource.forEach(row => {\n    if (row.title.toLowerCase().includes(page.searchValue) || row.surname.toLowerCase().includes(page.searchValue)) {\n        searchResults.push(row)\n    } else if (row.email.toLowerCase().includes(page.searchValue.toString())) {\n        searchResults.push(row);\n    } else if (row.status.toLowerCase().includes(page.searchValue.toString())) {\n        searchResults.push(row);\n    }\n    // To add for date\n})\npage.applicationsDatasource = searchResults;",
        "functionName": "sd_LYyzDzjkK5yX2PEc",
        "category": "Function",
        "x": 205,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_IE6UZeNgRbDOJ7YN",
        "type": "PageStart",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "pages",
        "nodeType": "start",
        "name": "declineApplication",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "status",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            },
            {
                "key": "application",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "declineApplication",
        "category": "General",
        "x": 65,
        "y": 300,
        "wires": [
            [
                "sd_LCa1PC7l4xPwojFS"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "binComponent"
    },
    {
        "id": "sd_8OecDrFgFhQyms0S",
        "type": "HttpRequest",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "Get all applications",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "getAllApplications",
        "category": "HTTP",
        "x": 660,
        "y": 180,
        "wires": [
            [
                "sd_VSyvbATDjLNiC3f0"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_VSyvbATDjLNiC3f0",
        "type": "Script",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// Exclude admin account\npage.result = page.result.filter((account) => account.email !== 'admin@gmail.com');\npage.applicationsDatasource = page.result.reverse();\npage.backupapplicationsDatasource = page.applicationsDatasource;\npage.totalApplications = page.applicationsDatasource.length;\npage.notificationsApplications = page.result.filter(application => application.status === 'Pending').length",
        "functionName": "sd_VSyvbATDjLNiC3f0",
        "category": "Function",
        "x": 785,
        "y": 180,
        "wires": [
            [
                "sd_QZzMaK44FOlk3s7C"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_q4KCst8Kh6P2Kuf9",
        "type": "PageStart",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "pages",
        "nodeType": "start",
        "name": "approveApplication",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "status",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            },
            {
                "key": "application",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "approveApplication",
        "category": "General",
        "x": 105,
        "y": 420,
        "wires": [
            [
                "sd_bS1fv5V64fgeWDq5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "binComponent"
    },
    {
        "id": "sd_jSCKB3Z5MtVectfn",
        "type": "HttpRequest",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "Save and Send declined email",
        "method": "put",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.input.application",
        "reqBodyObj": {
            "mapVarType": "bh.input",
            "mapVarValue": "application"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "saveAndSendDeclinedEmail",
        "category": "HTTP",
        "x": 625,
        "y": 280,
        "wires": [
            [
                "sd_UWVnOKwSxKwQWUcN"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_tCpk7EM7NItvd4bu",
        "type": "SnackBar",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Application declined successfully!"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_tCpk7EM7NItvd4bu",
        "category": "General",
        "x": 865,
        "y": 280,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_UWVnOKwSxKwQWUcN",
        "type": "Script",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showSpinner = false;",
        "functionName": "sd_UWVnOKwSxKwQWUcN",
        "category": "Function",
        "x": 745,
        "y": 280,
        "wires": [
            [
                "sd_tCpk7EM7NItvd4bu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_bS1fv5V64fgeWDq5",
        "type": "Environment",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_bS1fv5V64fgeWDq5",
        "category": "General",
        "x": 225,
        "y": 420,
        "wires": [
            [
                "sd_q7iETnjS3nD1PZox"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_zidVzSPGKqs4DHO0",
        "type": "HttpRequest",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "Save and Send approved email",
        "method": "put",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.input.application",
        "reqBodyObj": {
            "mapVarType": "bh.input",
            "mapVarValue": "application"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "saveAndSendApprovedEmail",
        "category": "HTTP",
        "x": 545,
        "y": 420,
        "wires": [
            [
                "sd_1iCdTuvgCKsOhjgh"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_owdsdjr8KWZqhWDh",
        "type": "SnackBar",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Application approved successfully!"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_owdsdjr8KWZqhWDh",
        "category": "General",
        "x": 945,
        "y": 420,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_owXT3CR5iey5WFA3",
        "type": "Script",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showSpinner = false;",
        "functionName": "sd_owXT3CR5iey5WFA3",
        "category": "Function",
        "x": 865,
        "y": 420,
        "wires": [
            [
                "sd_owdsdjr8KWZqhWDh"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_ImnWYmhuCmQCyMZw",
        "type": "PageStart",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "pages",
        "nodeType": "start",
        "name": "restoreApplication",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "application",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "restoreApplication",
        "category": "General",
        "x": 85,
        "y": 640,
        "wires": [
            [
                "sd_eCeYbLqtTbMu8dSb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "binComponent"
    },
    {
        "id": "sd_Fg0YSXnN1R1CX4SP",
        "type": "Environment",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_Fg0YSXnN1R1CX4SP",
        "category": "General",
        "x": 305,
        "y": 640,
        "wires": [
            [
                "sd_XXI8gfEE8szeTuq3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_XXI8gfEE8szeTuq3",
        "type": "Script",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + '/restore-from-bin';\npage.showSpinner = true;",
        "functionName": "sd_XXI8gfEE8szeTuq3",
        "category": "Function",
        "x": 405,
        "y": 640,
        "wires": [
            [
                "sd_IHx8vxj4rGKEjy49"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_lklnD1MxZsDm8Mqz",
        "type": "SnackBar",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Application restored successfully!"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_lklnD1MxZsDm8Mqz",
        "category": "General",
        "x": 1045,
        "y": 640,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_8nywLx4UDqALXoO8",
        "type": "PageStart",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Refresh all applications",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "refreshAllApplications",
        "category": "General",
        "x": 345,
        "y": 180,
        "wires": [
            [
                "sd_0WSmntFqt280OuZ9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "binComponent"
    },
    {
        "id": "sd_0WSmntFqt280OuZ9",
        "type": "Environment",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_0WSmntFqt280OuZ9",
        "category": "General",
        "x": 445,
        "y": 180,
        "wires": [
            [
                "sd_uYX9Nk0lVRc6u8su"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_Y4r4IJ8LoW4sXDde",
        "type": "PageCallService",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_QJROEOAEa9jpn569",
            "type": "tab",
            "createdDate": "2024-06-12T18:42:27.650Z",
            "label": "bin",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_8nywLx4UDqALXoO8",
            "flowName": "refreshAllApplications"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "refreshAllApplications",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": false,
        "functionName": "sd_Y4r4IJ8LoW4sXDde",
        "category": "General",
        "x": 785,
        "y": 640,
        "wires": [
            [
                "sd_tEWFbRlAw50uEV3z"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_fk181zj6cHxjbw2O",
        "type": "Script",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + '/decline';\nbh.input.application.status = bh.input.status;\nbh.input.application['reason'] = page.result;\nbh.input.application.collection = 'users';\npage.showSpinner = true;",
        "functionName": "sd_fk181zj6cHxjbw2O",
        "category": "Function",
        "x": 505,
        "y": 260,
        "wires": [
            [
                "sd_jSCKB3Z5MtVectfn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_uzMtsdHYyrbm1Sf0",
        "type": "PageStart",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Generate Temp Password",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "generateTempPassword",
        "category": "General",
        "x": 105,
        "y": 540,
        "wires": [
            [
                "sd_y9vd4wJPUvlub98v"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "binComponent"
    },
    {
        "id": "sd_q7iETnjS3nD1PZox",
        "type": "PageCallService",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_QJROEOAEa9jpn569",
            "type": "tab",
            "createdDate": "2024-06-12T18:42:27.650Z",
            "label": "bin",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_uzMtsdHYyrbm1Sf0",
            "flowName": "generateTempPassword"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "generateTempPassword",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": false,
        "functionName": "sd_q7iETnjS3nD1PZox",
        "category": "General",
        "x": 325,
        "y": 420,
        "wires": [
            [
                "sd_BLBQl61oosZX8udb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_y9vd4wJPUvlub98v",
        "type": "Script",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "let unique:any = new Date().getTime().toString();\nunique = unique.split('');\npage.tempPassword = `${unique[unique.length - 1]}${unique[unique.length - 2]}${unique[unique.length - 3]}${unique[unique.length - 4]}`;\n",
        "functionName": "sd_y9vd4wJPUvlub98v",
        "category": "Function",
        "x": 225,
        "y": 540,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_QZzMaK44FOlk3s7C",
        "type": "PageCallService",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_QJROEOAEa9jpn569",
            "type": "tab",
            "createdDate": "2024-06-12T18:42:27.650Z",
            "label": "bin",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_gBcuUrMeQmpmL7rO",
            "flowName": "determineUnreadNotifications"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "determineUnreadNotifications",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": false,
        "functionName": "sd_QZzMaK44FOlk3s7C",
        "category": "General",
        "x": 885,
        "y": 180,
        "wires": [
            [
                "sd_1oSUkAMaUhwFqp9a"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_uZ6AzBvjHS5KbSWS",
        "type": "Script",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + '/get-notifications';",
        "functionName": "sd_uZ6AzBvjHS5KbSWS",
        "category": "Function",
        "x": 305,
        "y": 800,
        "wires": [
            [
                "sd_IRGXCgKXhn0sljfa"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_IRGXCgKXhn0sljfa",
        "type": "HttpRequest",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "Get all notifications",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "getAllNotifications",
        "category": "HTTP",
        "x": 400,
        "y": 800,
        "wires": [
            [
                "sd_5VKCyG2rWoqDv8Ga"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_5VKCyG2rWoqDv8Ga",
        "type": "Script",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// Determine all unread\npage.notificationsCount = 0;\npage.result.forEach((notification) => {\n    if(!notification.read){\n        page.notificationsCount++;\n    }\n})",
        "functionName": "sd_5VKCyG2rWoqDv8Ga",
        "category": "Function",
        "x": 505,
        "y": 800,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_gBcuUrMeQmpmL7rO",
        "type": "PageStart",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Determine Unread Notifications",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "determineUnreadNotifications",
        "category": "General",
        "x": 65,
        "y": 800,
        "wires": [
            [
                "sd_ESgNJZhZtlvs1uQ2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "binComponent"
    },
    {
        "id": "sd_ESgNJZhZtlvs1uQ2",
        "type": "Environment",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_ESgNJZhZtlvs1uQ2",
        "category": "General",
        "x": 205,
        "y": 800,
        "wires": [
            [
                "sd_uZ6AzBvjHS5KbSWS"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_eCeYbLqtTbMu8dSb",
        "type": "Script",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.dialogData = {\n    ...bh.input.application,\n    isDeclingApplication: false\n}\n\npage.showSpinner = true;",
        "functionName": "sd_eCeYbLqtTbMu8dSb",
        "category": "Function",
        "x": 185,
        "y": 640,
        "wires": [
            [
                "sd_Fg0YSXnN1R1CX4SP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_wPtlUphxK0aZMmgk",
        "type": "OpenDialog",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 4,
        "flow": {
            "flowId": "sd_QUVdBhOXQEQtMvMn",
            "label": "confirmation"
        },
        "relativePath": "app/components/confirmation",
        "data": "bh.dialogData",
        "ariaDescribedBy": "this.page",
        "ariaLabel": "this.page",
        "ariaLabelledBy": "this.page",
        "autoFocus": "this.page",
        "backdropClass": "this.page",
        "closeOnNavigation": "this.page",
        "direction": "this.page",
        "disableClose": "this.page",
        "hasBackdrop": false,
        "height": "\"\"",
        "maxHeight": "\"\"",
        "minHeight": "this.page",
        "width": "\"400px\"",
        "maxWidth": "this.page",
        "minWidth": "this.page",
        "panelClass": "this.page",
        "position": "this.page",
        "restoreFocus": "this.page",
        "role": "this.page",
        "resultMapping": "this.page.result",
        "functionName": "sd_wPtlUphxK0aZMmgk",
        "category": "Dialog",
        "x": 265,
        "y": 300,
        "wires": [
            [],
            [
                "sd_H1yQDiEOKUwV5LNM"
            ],
            [],
            []
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "bh",
                "value": "dialogData",
                "constant": false
            },
            "ariaDescribedBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabel": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabelledBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "autoFocus": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "backdropClass": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "closeOnNavigation": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "direction": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "disableClose": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "hasBackdrop": {
                "type": "bool",
                "value": "false",
                "constant": false
            },
            "height": {
                "type": "str",
                "value": "",
                "constant": false
            },
            "maxHeight": {
                "type": "str",
                "value": "",
                "constant": false
            },
            "minHeight": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "width": {
                "type": "str",
                "value": "400px",
                "constant": false
            },
            "maxWidth": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "minWidth": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "panelClass": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "position": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "restoreFocus": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "role": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "resultMapping": {
                "type": "this.page",
                "value": "result",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_LCa1PC7l4xPwojFS",
        "type": "Script",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.dialogData = {\n    ...bh.input.application,\n    isDeclingApplication: true\n}",
        "functionName": "sd_LCa1PC7l4xPwojFS",
        "category": "Function",
        "x": 165,
        "y": 300,
        "wires": [
            [
                "sd_wPtlUphxK0aZMmgk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_H1yQDiEOKUwV5LNM",
        "type": "PageSwitch",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result",
        "propertyType": "this.page",
        "propertyGv": "this.page.result",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_H1yQDiEOKUwV5LNM",
        "category": "Function",
        "x": 365,
        "y": 300,
        "wires": [
            [
                "sd_fk181zj6cHxjbw2O"
            ],
            [
                "sd_1FRxXRbTTO20Xh98"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_1FRxXRbTTO20Xh98",
        "type": "SnackBar",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Action cancelled."
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_1FRxXRbTTO20Xh98",
        "category": "General",
        "x": 505,
        "y": 340,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_BLBQl61oosZX8udb",
        "type": "Script",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.input.application['password'] = page.tempPassword;\n\nbh.url = page.ssdUrl + '/approve';\nbh.input.application.status = bh.input.status;\npage.showSpinner = true;",
        "functionName": "sd_BLBQl61oosZX8udb",
        "category": "Function",
        "x": 425,
        "y": 420,
        "wires": [
            [
                "sd_zidVzSPGKqs4DHO0"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_Q5rUQHSu6gWhF1W1",
        "type": "HttpRequest",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "Save default limits",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "saveDefaultLimits",
        "category": "HTTP",
        "x": 765,
        "y": 420,
        "wires": [
            [
                "sd_owXT3CR5iey5WFA3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_1iCdTuvgCKsOhjgh",
        "type": "Script",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + '/add-limits';\nbh.body = {\n    \"_id\": new Date().getTime(),\n    \"email\": bh.input.application.email,\n    \"basicWithdrawal\": 3000\n}",
        "functionName": "sd_1iCdTuvgCKsOhjgh",
        "category": "Function",
        "x": 665,
        "y": 420,
        "wires": [
            [
                "sd_Q5rUQHSu6gWhF1W1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_IHx8vxj4rGKEjy49",
        "type": "HttpRequest",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "Restore application back",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.input.application",
        "reqBodyObj": {
            "mapVarType": "bh.input",
            "mapVarValue": "application"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "restoreApplicationBack",
        "category": "HTTP",
        "x": 505,
        "y": 640,
        "wires": [
            [
                "sd_2pPxyEfkRZRenu9d"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_4mlvZaOTTv0JglQj",
        "type": "Script",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + '/get-bin';",
        "functionName": "sd_4mlvZaOTTv0JglQj",
        "category": "Function",
        "x": 245,
        "y": 940,
        "wires": [
            [
                "sd_dD4tUbI03sSLpOoz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_dD4tUbI03sSLpOoz",
        "type": "HttpRequest",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "Get all bin applications",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "getAllBinApplications",
        "category": "HTTP",
        "x": 365,
        "y": 940,
        "wires": [
            [
                "sd_qH60C55JZgyw8van"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_qH60C55JZgyw8van",
        "type": "Script",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.binApplicationsCount = page.result.length;",
        "functionName": "sd_qH60C55JZgyw8van",
        "category": "Function",
        "x": 485,
        "y": 940,
        "wires": [
            [
                "sd_CXRpVoA9Y7tqxrrD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_CjucTRebSSzt5WrG",
        "type": "PageStart",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Reresh bin applications",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "rereshBinApplications",
        "category": "General",
        "x": 65,
        "y": 940,
        "wires": [
            [
                "sd_PI2SP8KqLznSKene"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "binComponent"
    },
    {
        "id": "sd_CXRpVoA9Y7tqxrrD",
        "type": "PageCallService",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_QJROEOAEa9jpn569",
            "type": "tab",
            "createdDate": "2024-06-12T18:42:27.650Z",
            "label": "bin",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_gBcuUrMeQmpmL7rO",
            "flowName": "determineUnreadNotifications"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "determineUnreadNotifications",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": false,
        "functionName": "sd_CXRpVoA9Y7tqxrrD",
        "category": "General",
        "x": 585,
        "y": 940,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_1oSUkAMaUhwFqp9a",
        "type": "PageCallService",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_QJROEOAEa9jpn569",
            "type": "tab",
            "createdDate": "2024-06-12T18:42:27.650Z",
            "label": "bin",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_CjucTRebSSzt5WrG",
            "flowName": "rereshBinApplications"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "rereshBinApplications",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": false,
        "functionName": "sd_1oSUkAMaUhwFqp9a",
        "category": "General",
        "x": 1025,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_tEWFbRlAw50uEV3z",
        "type": "PageCallService",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_QJROEOAEa9jpn569",
            "type": "tab",
            "createdDate": "2024-06-12T18:42:27.650Z",
            "label": "bin",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_CjucTRebSSzt5WrG",
            "flowName": "rereshBinApplications"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "rereshBinApplications",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": false,
        "functionName": "sd_tEWFbRlAw50uEV3z",
        "category": "General",
        "x": 865,
        "y": 640,
        "wires": [
            [
                "sd_nxY8nnt0QsHLZmlP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_9Kd9tWZ7rmOkYjce",
        "type": "PageStart",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "pages",
        "nodeType": "start",
        "name": "On page change",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "ev",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "onPageChange",
        "category": "General",
        "x": 45,
        "y": 1060,
        "wires": [
            [
                "sd_zu0sZZ5uovqQvHkc"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "binComponent"
    },
    {
        "id": "sd_zu0sZZ5uovqQvHkc",
        "type": "Script",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.currentPageIndex = bh.input.ev.pageIndex;",
        "functionName": "sd_zu0sZZ5uovqQvHkc",
        "category": "Function",
        "x": 145,
        "y": 1060,
        "wires": [
            [
                "sd_Nu9R2HT6RwgrMqWZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_Nu9R2HT6RwgrMqWZ",
        "type": "PageCallService",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_QJROEOAEa9jpn569",
            "type": "tab",
            "createdDate": "2024-06-12T18:42:27.650Z",
            "label": "bin",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_vpvy7lyqjan3eBU6",
            "flowName": "updateApplicationToShow"
        },
        "inputVariables": [
            {
                "key": "itemsPerPage",
                "map": true,
                "valueType": "bh",
                "value": ""
            }
        ],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "updateApplicationToShow",
        "inputParams": [
            null
        ],
        "accept_bh": false,
        "accept_csd": false,
        "functionName": "sd_Nu9R2HT6RwgrMqWZ",
        "category": "General",
        "x": 265,
        "y": 1060,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_qmOYVyNzIiSl4qN2",
        "type": "Script",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.startIndex = page.currentPageIndex * bh.input.itemsPerPage;\nbh.endIndex = bh.startIndex + bh.input.itemsPerPage;\npage.applicationsDatasource = page.backupapplicationsDatasource.slice(bh.startIndex, bh.endIndex);",
        "functionName": "sd_qmOYVyNzIiSl4qN2",
        "category": "Function",
        "x": 165,
        "y": 1180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_vpvy7lyqjan3eBU6",
        "type": "PageStart",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "pages",
        "nodeType": "start",
        "name": "updateApplicationToShow",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "itemsPerPage",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "updateApplicationToShow",
        "category": "General",
        "x": 60,
        "y": 1180,
        "wires": [
            [
                "sd_qmOYVyNzIiSl4qN2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "binComponent"
    },
    {
        "id": "sd_m6hVv30fpugqDiFt",
        "type": "Script",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "sessionStorage.clear();",
        "functionName": "sd_m6hVv30fpugqDiFt",
        "category": "Function",
        "x": 165,
        "y": 1320,
        "wires": [
            [
                "sd_koX3bawnP0g68frd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_2zgbhignRJLZ9OkB",
        "type": "PageStart",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Log out",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "logOut",
        "category": "General",
        "x": 50,
        "y": 1320,
        "wires": [
            [
                "sd_m6hVv30fpugqDiFt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "binComponent"
    },
    {
        "id": "sd_koX3bawnP0g68frd",
        "type": "Navigation",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/login",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_koX3bawnP0g68frd",
        "category": "Navigation",
        "x": 270,
        "y": 1320,
        "wires": [
            [
                "sd_L3pSQ0hjUudWl6f1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_L3pSQ0hjUudWl6f1",
        "type": "SnackBar",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Logged out successfully!"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_L3pSQ0hjUudWl6f1",
        "category": "General",
        "x": 370,
        "y": 1320,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_tpl5MNqPHrhoE85R",
        "type": "PageVariables",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "overviewCards",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "applicationsDatasource",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            },
            {
                "textIp": "searchValue",
                "typedIpValue": {
                    "type": "literal",
                    "value": "''"
                }
            },
            {
                "textIp": "backupapplicationsDatasource",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "showSpinner",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "tempPassword",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "notificationsCount",
                "typedIpValue": {
                    "type": "literal",
                    "value": "0"
                }
            },
            {
                "textIp": "binApplicationsCount",
                "typedIpValue": {
                    "type": "literal",
                    "value": "0"
                }
            },
            {
                "textIp": "totalApplications",
                "typedIpValue": {
                    "type": "literal",
                    "value": "0"
                }
            },
            {
                "textIp": "currentPageIndex",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_tpl5MNqPHrhoE85R",
        "category": "Function",
        "x": 265,
        "y": 40,
        "wires": [
            [
                "sd_Gg5i5yS0s2gpt7XP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_Nl48BFmHErwb0WwS",
        "type": "UseDependency",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "MatMenuModule",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "searchValue",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "ssdUrl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/material/menu",
        "serviceDesignerType": "pages",
        "functionName": "sd_Nl48BFmHErwb0WwS",
        "category": "Function",
        "x": 145,
        "y": 40,
        "wires": [
            [
                "sd_tpl5MNqPHrhoE85R"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_Gg5i5yS0s2gpt7XP",
        "type": "Script",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.overviewCards = [\n    {\n        imgSrc: 'https://www.fnb.co.za/_assets/images/mm/fnb/pc/products/15/DDA13/card.png?v=3.14.0',\n        label: 'Easy PAYU',\n        amt: '0',\n    },\n    {\n        imgSrc: 'https://www.fnb.co.za/_assets/images/mm/fnb/pc/products/15/DDA13/card.png?v=3.14.0',\n        label: 'Easy Smart',\n        amt: '0'\n    },\n    {\n        imgSrc: 'https://www.fnb.co.za/_assets/images/mm/fnb/pc/products/15/DDAQ1/card.png?v=3.14.0',\n        label: 'Aspire',\n        amt: '0'\n    }\n]",
        "functionName": "sd_Gg5i5yS0s2gpt7XP",
        "category": "Function",
        "x": 365,
        "y": 40,
        "wires": [
            [
                "sd_tzt7FALxgIpTqlwt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_tzt7FALxgIpTqlwt",
        "type": "PageCallService",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_QJROEOAEa9jpn569",
            "type": "tab",
            "createdDate": "2024-06-12T18:42:27.650Z",
            "label": "bin",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_8nywLx4UDqALXoO8",
            "flowName": "refreshAllApplications"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "refreshAllApplications",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": false,
        "functionName": "sd_tzt7FALxgIpTqlwt",
        "category": "General",
        "x": 465,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_UAHsTRvUmu7QzkEi",
        "type": "PageStart",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "pages",
        "nodeType": "start",
        "name": "close",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "close",
        "category": "General",
        "x": 65,
        "y": 1460,
        "wires": [
            [
                "sd_DEgGq4dH8ruzsqIF"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "binComponent"
    },
    {
        "id": "sd_DEgGq4dH8ruzsqIF",
        "type": "CloseDialog",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "data": "bh.system",
        "functionName": "sd_DEgGq4dH8ruzsqIF",
        "category": "Dialog",
        "x": 150,
        "y": 1460,
        "wires": [
            [
                "sd_UTCWWtOrd8SO8AgF"
            ]
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "bh",
                "value": "system",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_UTCWWtOrd8SO8AgF",
        "type": "SnackBar",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Bin closed"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_UTCWWtOrd8SO8AgF",
        "category": "General",
        "x": 250,
        "y": 1460,
        "wires": [
            [
                "sd_iIxUe6c6UZt3XfHV"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_2pPxyEfkRZRenu9d",
        "type": "Script",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.input.application['collection'] = 'bin-applications';\n\nbh.del_URL = page.ssdUrl + '/delete'",
        "functionName": "sd_2pPxyEfkRZRenu9d",
        "category": "Function",
        "x": 585,
        "y": 640,
        "wires": [
            [
                "sd_ZQbMqnSE8P65OIfN"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_ZQbMqnSE8P65OIfN",
        "type": "HttpRequest",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "Delete bin application",
        "method": "delete",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.del_URL",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "del_URL"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.input.application",
        "reqBodyObj": {
            "mapVarType": "bh.input",
            "mapVarValue": "application"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "deleteBinApplication",
        "category": "HTTP",
        "x": 705,
        "y": 640,
        "wires": [
            [
                "sd_Y4r4IJ8LoW4sXDde"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_nxY8nnt0QsHLZmlP",
        "type": "Script",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showSpinner = false;\n",
        "functionName": "sd_nxY8nnt0QsHLZmlP",
        "category": "Function",
        "x": 945,
        "y": 640,
        "wires": [
            [
                "sd_lklnD1MxZsDm8Mqz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_iIxUe6c6UZt3XfHV",
        "type": "PageCallService",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_QJROEOAEa9jpn569",
            "type": "tab",
            "createdDate": "2024-06-12T18:42:27.650Z",
            "label": "bin",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_8nywLx4UDqALXoO8",
            "flowName": "refreshAllApplications"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "refreshAllApplications",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": false,
        "functionName": "sd_iIxUe6c6UZt3XfHV",
        "category": "General",
        "x": 350,
        "y": 1460,
        "wires": [
            [
                "sd_rzMKKFtDXxLbOgkK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_rzMKKFtDXxLbOgkK",
        "type": "PageCallService",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_QJROEOAEa9jpn569",
            "type": "tab",
            "createdDate": "2024-06-12T18:42:27.650Z",
            "label": "bin",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_CjucTRebSSzt5WrG",
            "flowName": "rereshBinApplications"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "rereshBinApplications",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": false,
        "functionName": "sd_rzMKKFtDXxLbOgkK",
        "category": "General",
        "x": 490,
        "y": 1460,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    },
    {
        "id": "sd_PI2SP8KqLznSKene",
        "type": "Environment",
        "z": "sd_QJROEOAEa9jpn569",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_PI2SP8KqLznSKene",
        "category": "General",
        "x": 145,
        "y": 940,
        "wires": [
            [
                "sd_4mlvZaOTTv0JglQj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "binComponent",
        "generated": true
    }
]
