designs/pages/email_verification.json
[
    {
        "id": "sd_qUz4RYFVkprCUXIs",
        "type": "tab",
        "createdDate": "2024-06-13T10:53:40.062Z",
        "label": "email_verification",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "email_verificationComponent"
    },
    {
        "id": "sd_rHt5lnX5d9AlwXpr",
        "type": "OnInit",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_rHt5lnX5d9AlwXpr",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_5OHZQGEf4Z32Rdne"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "email_verificationComponent"
    },
    {
        "id": "sd_5OHZQGEf4Z32Rdne",
        "type": "PageVariables",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "showSpinner",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            }
        ],
        "functionName": "sd_5OHZQGEf4Z32Rdne",
        "category": "Function",
        "x": 180,
        "y": 30,
        "wires": [
            [
                "sd_qe9nrNFxo1lKheBU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_KpLAjvUN6EiML3gZ",
        "type": "PageStart",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "pages",
        "nodeType": "start",
        "name": "submit email",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "submitEmail",
        "category": "General",
        "x": 60,
        "y": 180,
        "wires": [
            [
                "sd_bKRz7pWdYtoGwkPu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "email_verificationComponent"
    },
    {
        "id": "sd_1pUa0oomgyBJNYR8",
        "type": "Script",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showSpinner = true",
        "functionName": "sd_1pUa0oomgyBJNYR8",
        "category": "Function",
        "x": 265,
        "y": 240,
        "wires": [
            [
                "sd_ZJkQ03iOysZf3qv0"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_bKRz7pWdYtoGwkPu",
        "type": "PageSwitch",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "form.invalid",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.form.invalid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_bKRz7pWdYtoGwkPu",
        "category": "Function",
        "x": 165,
        "y": 180,
        "wires": [
            [
                "sd_vyy4BOkFGknLtfnw"
            ],
            [
                "sd_1pUa0oomgyBJNYR8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_qe9nrNFxo1lKheBU",
        "type": "UseDependency",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_qe9nrNFxo1lKheBU",
        "category": "Function",
        "x": 305,
        "y": 40,
        "wires": [
            [
                "sd_EDCIjVXT2fHf7emi"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_EDCIjVXT2fHf7emi",
        "type": "Script",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.emailFormGroup = new FormGroup({\n    email: new FormControl('',[Validators.required,Validators.pattern(/^[^\\s@]+@([^\\s@.,]+\\.)+[^\\s@.,]{2,}$/)])\n})",
        "functionName": "sd_EDCIjVXT2fHf7emi",
        "category": "Function",
        "x": 420,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_vyy4BOkFGknLtfnw",
        "type": "SnackBar",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Please fill in your email"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_vyy4BOkFGknLtfnw",
        "category": "General",
        "x": 265,
        "y": 140,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_ZJkQ03iOysZf3qv0",
        "type": "Environment",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdURL"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_ZJkQ03iOysZf3qv0",
        "category": "General",
        "x": 380,
        "y": 240,
        "wires": [
            [
                "sd_SfSVTtBqnOKoepaQ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_SfSVTtBqnOKoepaQ",
        "type": "Script",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdURL + '/verification'",
        "functionName": "sd_SfSVTtBqnOKoepaQ",
        "category": "Function",
        "x": 485,
        "y": 240,
        "wires": [
            [
                "sd_J1klgcPg8ZZ3f1X9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_J1klgcPg8ZZ3f1X9",
        "type": "HttpRequest",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.emailFormGroup.value",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "emailFormGroup.value"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_J1klgcPg8ZZ3f1X9",
        "category": "HTTP",
        "x": 580,
        "y": 240,
        "wires": [
            [
                "sd_qtAlwOYGlkubwDrk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_qtAlwOYGlkubwDrk",
        "type": "Script",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(page.result)",
        "functionName": "sd_qtAlwOYGlkubwDrk",
        "category": "Function",
        "x": 685,
        "y": 240,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    }
]
