designs/pages/email_verification.json
[
    {
        "id": "sd_qUz4RYFVkprCUXIs",
        "type": "tab",
        "createdDate": "2024-06-13T10:53:40.062Z",
        "label": "email_verification",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "email_verificationComponent"
    },
    {
        "id": "sd_rHt5lnX5d9AlwXpr",
        "type": "OnInit",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_rHt5lnX5d9AlwXpr",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 40,
        "wires": [
            [
                "sd_5OHZQGEf4Z32Rdne"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "email_verificationComponent"
    },
    {
        "id": "sd_5OHZQGEf4Z32Rdne",
        "type": "PageVariables",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "showSpinner",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            }
        ],
        "functionName": "sd_5OHZQGEf4Z32Rdne",
        "category": "Function",
        "x": 165,
        "y": 40,
        "wires": [
            [
                "sd_qe9nrNFxo1lKheBU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_KpLAjvUN6EiML3gZ",
        "type": "PageStart",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "pages",
        "nodeType": "start",
        "name": "submit email",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "submitEmail",
        "category": "General",
        "x": 45,
        "y": 180,
        "wires": [
            [
                "sd_dtYk2lMuH9w9LARI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "email_verificationComponent"
    },
    {
        "id": "sd_1pUa0oomgyBJNYR8",
        "type": "Script",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showSpinner = true",
        "functionName": "sd_1pUa0oomgyBJNYR8",
        "category": "Function",
        "x": 305,
        "y": 240,
        "wires": [
            [
                "sd_ZJkQ03iOysZf3qv0"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_bKRz7pWdYtoGwkPu",
        "type": "PageSwitch",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "emailFormGroup.invalid",
        "propertyType": "this.page",
        "propertyGv": "this.page.emailFormGroup.invalid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_bKRz7pWdYtoGwkPu",
        "category": "Function",
        "x": 205,
        "y": 180,
        "wires": [
            [
                "sd_vyy4BOkFGknLtfnw"
            ],
            [
                "sd_1pUa0oomgyBJNYR8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_qe9nrNFxo1lKheBU",
        "type": "UseDependency",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_qe9nrNFxo1lKheBU",
        "category": "Function",
        "x": 305,
        "y": 40,
        "wires": [
            [
                "sd_EDCIjVXT2fHf7emi"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_EDCIjVXT2fHf7emi",
        "type": "Script",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.emailFormGroup = new FormGroup({\n    email: new FormControl('',[Validators.required,Validators.pattern(/^[^\\s@]+@([^\\s@.,]+\\.)+[^\\s@.,]{2,}$/)])\n})",
        "functionName": "sd_EDCIjVXT2fHf7emi",
        "category": "Function",
        "x": 425,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_vyy4BOkFGknLtfnw",
        "type": "SnackBar",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Please fill in your email"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_vyy4BOkFGknLtfnw",
        "category": "General",
        "x": 305,
        "y": 140,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_ZJkQ03iOysZf3qv0",
        "type": "Environment",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdURL"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_ZJkQ03iOysZf3qv0",
        "category": "General",
        "x": 420,
        "y": 240,
        "wires": [
            [
                "sd_SfSVTtBqnOKoepaQ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_SfSVTtBqnOKoepaQ",
        "type": "Script",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdURL + '/verification'",
        "functionName": "sd_SfSVTtBqnOKoepaQ",
        "category": "Function",
        "x": 525,
        "y": 240,
        "wires": [
            [
                "sd_J1klgcPg8ZZ3f1X9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_J1klgcPg8ZZ3f1X9",
        "type": "HttpRequest",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.emailFormGroup.value",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "emailFormGroup.value"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_J1klgcPg8ZZ3f1X9",
        "category": "HTTP",
        "x": 620,
        "y": 240,
        "wires": [
            [
                "sd_o7lpiAogNsi65ajX",
                "sd_46YCZgz0EirBYWin"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_o7lpiAogNsi65ajX",
        "type": "PageSwitch",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result[0].email",
        "propertyType": "this.page",
        "propertyGv": "this.page.result[0].email",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "eq",
                "v": "emailFormGroup.controls['email'].value",
                "vt": "this.page",
                "gv": "this.page.emailFormGroup.controls['email'].value"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_o7lpiAogNsi65ajX",
        "category": "Function",
        "x": 705,
        "y": 240,
        "wires": [
            [
                "sd_XnnmALkJKjUgewac"
            ],
            [
                "sd_ffzBB4Z7b7TfyzZL"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_XnnmALkJKjUgewac",
        "type": "SnackBar",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Invalid admin email"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_XnnmALkJKjUgewac",
        "category": "General",
        "x": 785,
        "y": 180,
        "wires": [
            [
                "sd_oXzXQOR7CUsihGyD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_oXzXQOR7CUsihGyD",
        "type": "Script",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showSpinner = false",
        "functionName": "sd_oXzXQOR7CUsihGyD",
        "category": "Function",
        "x": 885,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_ffzBB4Z7b7TfyzZL",
        "type": "Script",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showSpinner = false",
        "functionName": "sd_ffzBB4Z7b7TfyzZL",
        "category": "Function",
        "x": 785,
        "y": 280,
        "wires": [
            [
                "sd_nYIC0TCYyWoyXBEU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_9UPHeazoidL2Cypb",
        "type": "Navigation",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/reset_password",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_9UPHeazoidL2Cypb",
        "category": "Navigation",
        "x": 945,
        "y": 280,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_nYIC0TCYyWoyXBEU",
        "type": "Storage",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "admin"
        },
        "value": {
            "type": "this.page",
            "value": "result[0]"
        },
        "resultMapping": {},
        "functionName": "sd_nYIC0TCYyWoyXBEU",
        "category": "Storage",
        "x": 865,
        "y": 280,
        "wires": [
            [
                "sd_9UPHeazoidL2Cypb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_dtYk2lMuH9w9LARI",
        "type": "Script",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "sessionStorage.clear()",
        "functionName": "sd_dtYk2lMuH9w9LARI",
        "category": "Function",
        "x": 125,
        "y": 180,
        "wires": [
            [
                "sd_bKRz7pWdYtoGwkPu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_46YCZgz0EirBYWin",
        "type": "Log",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.result",
        "functionName": "sd_46YCZgz0EirBYWin",
        "category": "General",
        "x": 680,
        "y": 120,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "result",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    }
]
