designs/pages/email_verification.json
[
    {
        "id": "sd_qUz4RYFVkprCUXIs",
        "type": "tab",
        "createdDate": "2024-06-13T10:53:40.062Z",
        "label": "email_verification",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "email_verificationComponent"
    },
    {
        "id": "sd_rHt5lnX5d9AlwXpr",
        "type": "OnInit",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_rHt5lnX5d9AlwXpr",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 40,
        "wires": [
            [
                "sd_5OHZQGEf4Z32Rdne"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "email_verificationComponent"
    },
    {
        "id": "sd_5OHZQGEf4Z32Rdne",
        "type": "PageVariables",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "showSpinner",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            }
        ],
        "functionName": "sd_5OHZQGEf4Z32Rdne",
        "category": "Function",
        "x": 165,
        "y": 40,
        "wires": [
            [
                "sd_a0vC0Zrzab6zGvNs"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_KpLAjvUN6EiML3gZ",
        "type": "PageStart",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "pages",
        "nodeType": "start",
        "name": "submit email",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "submitEmail",
        "category": "General",
        "x": 45,
        "y": 180,
        "wires": [
            [
                "sd_dtYk2lMuH9w9LARI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "email_verificationComponent"
    },
    {
        "id": "sd_1pUa0oomgyBJNYR8",
        "type": "Script",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showSpinner = true",
        "functionName": "sd_1pUa0oomgyBJNYR8",
        "category": "Function",
        "x": 305,
        "y": 240,
        "wires": [
            [
                "sd_ZJkQ03iOysZf3qv0"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_bKRz7pWdYtoGwkPu",
        "type": "PageSwitch",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "emailFormGroup.invalid",
        "propertyType": "this.page",
        "propertyGv": "this.page.emailFormGroup.invalid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_bKRz7pWdYtoGwkPu",
        "category": "Function",
        "x": 205,
        "y": 180,
        "wires": [
            [
                "sd_vyy4BOkFGknLtfnw"
            ],
            [
                "sd_1pUa0oomgyBJNYR8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_EDCIjVXT2fHf7emi",
        "type": "Script",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.emailFormGroup = new FormGroup({\n    email: new FormControl('',[Validators.required,Validators.pattern(/^[^\\s@]+@([^\\s@.,]+\\.)+[^\\s@.,]{2,}$/)])\n})",
        "functionName": "sd_EDCIjVXT2fHf7emi",
        "category": "Function",
        "x": 385,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_vyy4BOkFGknLtfnw",
        "type": "SnackBar",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Please fill in your email"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_vyy4BOkFGknLtfnw",
        "category": "General",
        "x": 305,
        "y": 140,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_ZJkQ03iOysZf3qv0",
        "type": "Environment",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdURL"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_ZJkQ03iOysZf3qv0",
        "category": "General",
        "x": 420,
        "y": 240,
        "wires": [
            [
                "sd_SfSVTtBqnOKoepaQ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_SfSVTtBqnOKoepaQ",
        "type": "Script",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdURL + '/get-users'",
        "functionName": "sd_SfSVTtBqnOKoepaQ",
        "category": "Function",
        "x": 525,
        "y": 240,
        "wires": [
            [
                "sd_J1klgcPg8ZZ3f1X9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_J1klgcPg8ZZ3f1X9",
        "type": "HttpRequest",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_J1klgcPg8ZZ3f1X9",
        "category": "HTTP",
        "x": 620,
        "y": 240,
        "wires": [
            [
                "sd_YEpKwdNwPrsO2iJF"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_dtYk2lMuH9w9LARI",
        "type": "Script",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "sessionStorage.clear()",
        "functionName": "sd_dtYk2lMuH9w9LARI",
        "category": "Function",
        "x": 125,
        "y": 180,
        "wires": [
            [
                "sd_bKRz7pWdYtoGwkPu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_h47Jvhq4eG70MMF4",
        "type": "PageSwitch",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "admin",
        "propertyType": "bh",
        "propertyGv": "bh.admin",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_h47Jvhq4eG70MMF4",
        "category": "Function",
        "x": 805,
        "y": 240,
        "wires": [
            [
                "sd_xtwpqkIb8LlhAtSP"
            ],
            [
                "sd_Rq12yjClVJlNc5e1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_Rq12yjClVJlNc5e1",
        "type": "SnackBar",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Invalid admin email"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_Rq12yjClVJlNc5e1",
        "category": "General",
        "x": 885,
        "y": 280,
        "wires": [
            [
                "sd_MMaeBPmnESpRH7CC"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_MMaeBPmnESpRH7CC",
        "type": "Script",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showSpinner = false",
        "functionName": "sd_MMaeBPmnESpRH7CC",
        "category": "Function",
        "x": 985,
        "y": 280,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_nZhLih6Y46jDbpPU",
        "type": "Navigation",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/OTP",
        "functionName": "sd_nZhLih6Y46jDbpPU",
        "category": "Navigation",
        "x": 1205,
        "y": 180,
        "wires": [
            [
                "sd_hizoZ86s31Ddxj8W"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_YEpKwdNwPrsO2iJF",
        "type": "Script",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.admin = page.result.filter((user:any) => {\n   return page.emailFormGroup.controls['email'].value == user.email\n})",
        "functionName": "sd_YEpKwdNwPrsO2iJF",
        "category": "Function",
        "x": 705,
        "y": 240,
        "wires": [
            [
                "sd_h47Jvhq4eG70MMF4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_hizoZ86s31Ddxj8W",
        "type": "PageCallService",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_taxbwnmVnLmX0xn8",
            "type": "tab",
            "createdDate": "2024-06-01T15:55:59.764Z",
            "label": "common",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_ddUWlM1FFwamtgaQ",
            "flowName": "setVariable"
        },
        "inputVariables": [
            {
                "key": "data",
                "map": true,
                "valueType": "bh",
                "value": "admin"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "data",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "data",
                "localVar": "bh.result"
            }
        ],
        "serviceImportPath": "app/sd-services/common",
        "startName": "setVariable",
        "inputParams": [
            "bh.admin"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_hizoZ86s31Ddxj8W",
        "category": "General",
        "x": 1285,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_a0vC0Zrzab6zGvNs",
        "type": "UseDependency",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_a0vC0Zrzab6zGvNs",
        "category": "Function",
        "x": 265,
        "y": 40,
        "wires": [
            [
                "sd_EDCIjVXT2fHf7emi"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_xtwpqkIb8LlhAtSP",
        "type": "PageCallService",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_ojOOkGOzPuNgge52",
            "type": "tab",
            "createdDate": "2024-06-03T10:47:04.502Z",
            "label": "auth",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_Cv0bipm3m4K0Z1dC",
            "flowName": "generateRandomNumber"
        },
        "inputVariables": [
            {
                "key": "email",
                "map": true,
                "valueType": "this.page",
                "value": "emailFormGroup.email"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "random",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "random",
                "localVar": "bh.result"
            }
        ],
        "serviceImportPath": "app/sd-services/auth",
        "startName": "generateRandomNumber",
        "inputParams": [
            "this.page.emailFormGroup.email"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_xtwpqkIb8LlhAtSP",
        "category": "General",
        "x": 885,
        "y": 180,
        "wires": [
            [
                "sd_9W2naYgDjrVpyfbp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_FCWbu5aIJXF3Qeyr",
        "type": "HttpRequest",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "put",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_FCWbu5aIJXF3Qeyr",
        "category": "HTTP",
        "x": 1045,
        "y": 180,
        "wires": [
            [
                "sd_diNCSOWFKooReRgq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_9W2naYgDjrVpyfbp",
        "type": "Script",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdURL + '/forgot-password'\n\nbh.body = {\n    otp : bh.result,\n    email: bh.admin[0].email\n}",
        "functionName": "sd_9W2naYgDjrVpyfbp",
        "category": "Function",
        "x": 965,
        "y": 180,
        "wires": [
            [
                "sd_FCWbu5aIJXF3Qeyr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    },
    {
        "id": "sd_diNCSOWFKooReRgq",
        "type": "Script",
        "z": "sd_qUz4RYFVkprCUXIs",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showSpinner = false;",
        "functionName": "sd_diNCSOWFKooReRgq",
        "category": "Function",
        "x": 1125,
        "y": 180,
        "wires": [
            [
                "sd_nZhLih6Y46jDbpPU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_verificationComponent",
        "generated": true
    }
]
