designs/pages/rejected.json
[
    {
        "id": "sd_BNzQZjSoa1iUKQ1R",
        "type": "tab",
        "createdDate": "2024-06-18T03:21:23.789Z",
        "label": "rejected",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "rejectedComponent"
    },
    {
        "id": "sd_qFrgghJPxWd6Rmu0",
        "type": "OnInit",
        "z": "sd_BNzQZjSoa1iUKQ1R",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_qFrgghJPxWd6Rmu0",
        "category": "Lifecycle Events",
        "x": 85,
        "y": 40,
        "wires": [
            [
                "sd_G86oaH1aHeydTOCH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "rejectedComponent"
    },
    {
        "id": "sd_sDUdsbqbg20wnQhd",
        "type": "PageVariables",
        "z": "sd_BNzQZjSoa1iUKQ1R",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "overviewCards",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "applicationsDatasource",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            },
            {
                "textIp": "searchValue",
                "typedIpValue": {
                    "type": "literal",
                    "value": "''"
                }
            },
            {
                "textIp": "backupapplicationsDatasource",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "showSpinner",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "tempPassword",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "notificationsCount",
                "typedIpValue": {
                    "type": "literal",
                    "value": "0"
                }
            },
            {
                "textIp": "binApplicationsCount",
                "typedIpValue": {
                    "type": "literal",
                    "value": "0"
                }
            },
            {
                "textIp": "totalApplications",
                "typedIpValue": {
                    "type": "literal",
                    "value": "0"
                }
            },
            {
                "textIp": "currentPageIndex",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_sDUdsbqbg20wnQhd",
        "category": "Function",
        "x": 325,
        "y": 40,
        "wires": [
            [
                "sd_f4ZDfvw6F95K41LN"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "rejectedComponent",
        "generated": true
    },
    {
        "id": "sd_G86oaH1aHeydTOCH",
        "type": "UseDependency",
        "z": "sd_BNzQZjSoa1iUKQ1R",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "MatMenuModule",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "searchValue",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "ssdUrl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/material/menu",
        "serviceDesignerType": "pages",
        "functionName": "sd_G86oaH1aHeydTOCH",
        "category": "Function",
        "x": 205,
        "y": 40,
        "wires": [
            [
                "sd_sDUdsbqbg20wnQhd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "rejectedComponent",
        "generated": true
    },
    {
        "id": "sd_f4ZDfvw6F95K41LN",
        "type": "Script",
        "z": "sd_BNzQZjSoa1iUKQ1R",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.overviewCards = [\n    {\n        imgSrc: 'https://www.fnb.co.za/_assets/images/mm/fnb/pc/products/15/DDA13/card.png?v=3.14.0',\n        label: 'Easy PAYU',\n        amt: '0',\n    },\n    {\n        imgSrc: 'https://www.fnb.co.za/_assets/images/mm/fnb/pc/products/15/DDA13/card.png?v=3.14.0',\n        label: 'Easy Smart',\n        amt: '0'\n    },\n    {\n        imgSrc: 'https://www.fnb.co.za/_assets/images/mm/fnb/pc/products/15/DDAQ1/card.png?v=3.14.0',\n        label: 'Aspire',\n        amt: '0'\n    }\n]",
        "functionName": "sd_f4ZDfvw6F95K41LN",
        "category": "Function",
        "x": 425,
        "y": 40,
        "wires": [
            [
                "sd_zbSYHtV6Jt674Ede"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "rejectedComponent",
        "generated": true
    },
    {
        "id": "sd_zbSYHtV6Jt674Ede",
        "type": "PageCallService",
        "z": "sd_BNzQZjSoa1iUKQ1R",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_BNzQZjSoa1iUKQ1R",
            "type": "tab",
            "createdDate": "2024-06-18T03:21:23.789Z",
            "label": "rejected",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_O6qhcSCArSRCipRn",
            "flowName": "refreshAllApplications"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "refreshAllApplications",
        "inputParams": [],
        "accept_csd": false,
        "functionName": "sd_zbSYHtV6Jt674Ede",
        "category": "General",
        "x": 525,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "rejectedComponent",
        "generated": true
    },
    {
        "id": "sd_2QWj1dltnRSwcqPo",
        "type": "Script",
        "z": "sd_BNzQZjSoa1iUKQ1R",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + '/get-users';",
        "functionName": "sd_2QWj1dltnRSwcqPo",
        "category": "Function",
        "x": 305,
        "y": 160,
        "wires": [
            [
                "sd_JX6iIhebnFxWzQP0"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "rejectedComponent",
        "generated": true
    },
    {
        "id": "sd_JX6iIhebnFxWzQP0",
        "type": "HttpRequest",
        "z": "sd_BNzQZjSoa1iUKQ1R",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "Get all applications",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "getAllApplications",
        "category": "HTTP",
        "x": 420,
        "y": 160,
        "wires": [
            [
                "sd_4Plukia7cJziGoZj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "rejectedComponent",
        "generated": true
    },
    {
        "id": "sd_4Plukia7cJziGoZj",
        "type": "Script",
        "z": "sd_BNzQZjSoa1iUKQ1R",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// Exclude admin account\npage.result = page.result.filter((account) => account.email !== 'admin@gmail.com');\n\nbh.newDataSource = page.result.reverse().filter((user:any) =>{\nreturn user.status == \"Declined\"\n})\n\npage.applicationsDatasource = bh.newDataSource\npage.backupapplicationsDatasource = page.applicationsDatasource;\npage.totalApplications = page.applicationsDatasource.length;\npage.notificationsApplications = page.result.filter(application => application.status === 'Pending').length",
        "functionName": "sd_4Plukia7cJziGoZj",
        "category": "Function",
        "x": 545,
        "y": 160,
        "wires": [
            [
                "sd_uQs962uROw6uAVCK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "rejectedComponent",
        "generated": true
    },
    {
        "id": "sd_O6qhcSCArSRCipRn",
        "type": "PageStart",
        "z": "sd_BNzQZjSoa1iUKQ1R",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Refresh all applications",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "refreshAllApplications",
        "category": "General",
        "x": 105,
        "y": 160,
        "wires": [
            [
                "sd_cPk7saCdWPA47Ujs"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "rejectedComponent"
    },
    {
        "id": "sd_cPk7saCdWPA47Ujs",
        "type": "Environment",
        "z": "sd_BNzQZjSoa1iUKQ1R",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_cPk7saCdWPA47Ujs",
        "category": "General",
        "x": 205,
        "y": 160,
        "wires": [
            [
                "sd_2QWj1dltnRSwcqPo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "rejectedComponent",
        "generated": true
    },
    {
        "id": "sd_uQs962uROw6uAVCK",
        "type": "PageCallService",
        "z": "sd_BNzQZjSoa1iUKQ1R",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_BNzQZjSoa1iUKQ1R",
            "type": "tab",
            "createdDate": "2024-06-18T03:21:23.789Z",
            "label": "rejected",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_loEfBMdALwh3eJyU",
            "flowName": "rereshBinApplications"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "rereshBinApplications",
        "inputParams": [],
        "accept_csd": false,
        "functionName": "sd_uQs962uROw6uAVCK",
        "category": "General",
        "x": 645,
        "y": 160,
        "wires": [
            [
                "sd_jBhlnF9gk6eTiCda"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "rejectedComponent",
        "generated": true
    },
    {
        "id": "sd_jBhlnF9gk6eTiCda",
        "type": "PageCallService",
        "z": "sd_BNzQZjSoa1iUKQ1R",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_BNzQZjSoa1iUKQ1R",
            "type": "tab",
            "createdDate": "2024-06-18T03:21:23.789Z",
            "label": "rejected",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_Ngm9j4MpO96wnUWh",
            "flowName": "determineUnreadNotifications"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "determineUnreadNotifications",
        "inputParams": [],
        "accept_csd": false,
        "functionName": "sd_jBhlnF9gk6eTiCda",
        "category": "General",
        "x": 785,
        "y": 160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "rejectedComponent",
        "generated": true
    },
    {
        "id": "sd_AKlRYJ3Iw2mTTYRL",
        "type": "Script",
        "z": "sd_BNzQZjSoa1iUKQ1R",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + '/get-bin';",
        "functionName": "sd_AKlRYJ3Iw2mTTYRL",
        "category": "Function",
        "x": 185,
        "y": 260,
        "wires": [
            [
                "sd_SAD1XTxCCCpsIVDr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "rejectedComponent",
        "generated": true
    },
    {
        "id": "sd_SAD1XTxCCCpsIVDr",
        "type": "HttpRequest",
        "z": "sd_BNzQZjSoa1iUKQ1R",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "Get all bin applications",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "getAllBinApplications",
        "category": "HTTP",
        "x": 305,
        "y": 260,
        "wires": [
            [
                "sd_xgzrY0jdQkaqYXxK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "rejectedComponent",
        "generated": true
    },
    {
        "id": "sd_xgzrY0jdQkaqYXxK",
        "type": "Script",
        "z": "sd_BNzQZjSoa1iUKQ1R",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.binApplicationsCount = page.result.length;",
        "functionName": "sd_xgzrY0jdQkaqYXxK",
        "category": "Function",
        "x": 425,
        "y": 260,
        "wires": [
            [
                "sd_1GVB1BIoyPewjzXd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "rejectedComponent",
        "generated": true
    },
    {
        "id": "sd_loEfBMdALwh3eJyU",
        "type": "PageStart",
        "z": "sd_BNzQZjSoa1iUKQ1R",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Reresh bin applications",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "rereshBinApplications",
        "category": "General",
        "x": 85,
        "y": 260,
        "wires": [
            [
                "sd_AKlRYJ3Iw2mTTYRL"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "rejectedComponent"
    },
    {
        "id": "sd_1GVB1BIoyPewjzXd",
        "type": "PageCallService",
        "z": "sd_BNzQZjSoa1iUKQ1R",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_BNzQZjSoa1iUKQ1R",
            "type": "tab",
            "createdDate": "2024-06-18T03:21:23.789Z",
            "label": "rejected",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_loEfBMdALwh3eJyU",
            "flowName": "rereshBinApplications"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "rereshBinApplications",
        "inputParams": [],
        "accept_csd": false,
        "functionName": "sd_1GVB1BIoyPewjzXd",
        "category": "General",
        "x": 525,
        "y": 260,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "rejectedComponent",
        "generated": true
    },
    {
        "id": "sd_S4yECKy3tVf7Qjkj",
        "type": "Script",
        "z": "sd_BNzQZjSoa1iUKQ1R",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + '/get-notifications';",
        "functionName": "sd_S4yECKy3tVf7Qjkj",
        "category": "Function",
        "x": 285,
        "y": 360,
        "wires": [
            [
                "sd_t7LpQU7RYQGLInVv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "rejectedComponent",
        "generated": true
    },
    {
        "id": "sd_t7LpQU7RYQGLInVv",
        "type": "HttpRequest",
        "z": "sd_BNzQZjSoa1iUKQ1R",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "Get all notifications",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "getAllNotifications",
        "category": "HTTP",
        "x": 380,
        "y": 360,
        "wires": [
            [
                "sd_UNN9pYzWlMQLf1Vh"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "rejectedComponent",
        "generated": true
    },
    {
        "id": "sd_UNN9pYzWlMQLf1Vh",
        "type": "Script",
        "z": "sd_BNzQZjSoa1iUKQ1R",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// Determine all unread\npage.notificationsCount = 0;\npage.result.forEach((notification) => {\n    if(!notification.read){\n        page.notificationsCount++;\n    }\n})",
        "functionName": "sd_UNN9pYzWlMQLf1Vh",
        "category": "Function",
        "x": 485,
        "y": 360,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "rejectedComponent",
        "generated": true
    },
    {
        "id": "sd_Ngm9j4MpO96wnUWh",
        "type": "PageStart",
        "z": "sd_BNzQZjSoa1iUKQ1R",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Determine Unread Notifications",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "determineUnreadNotifications",
        "category": "General",
        "x": 85,
        "y": 360,
        "wires": [
            [
                "sd_2LLZojgYc22drkcc"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "rejectedComponent"
    },
    {
        "id": "sd_2LLZojgYc22drkcc",
        "type": "Environment",
        "z": "sd_BNzQZjSoa1iUKQ1R",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_2LLZojgYc22drkcc",
        "category": "General",
        "x": 185,
        "y": 360,
        "wires": [
            [
                "sd_S4yECKy3tVf7Qjkj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "rejectedComponent",
        "generated": true
    },
    {
        "id": "sd_WSignOCHnVaLf4A1",
        "type": "PageStart",
        "z": "sd_BNzQZjSoa1iUKQ1R",
        "viewType": "pages",
        "nodeType": "start",
        "name": "close",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "close",
        "category": "General",
        "x": 65,
        "y": 480,
        "wires": [
            [
                "sd_L4c8gGPjKHW31EMM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "rejectedComponent"
    },
    {
        "id": "sd_L4c8gGPjKHW31EMM",
        "type": "CloseDialog",
        "z": "sd_BNzQZjSoa1iUKQ1R",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "data": "bh.system",
        "functionName": "sd_L4c8gGPjKHW31EMM",
        "category": "Dialog",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "sd_6vIXX826V2O1bDMS"
            ]
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "bh",
                "value": "system",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "rejectedComponent",
        "generated": true
    },
    {
        "id": "sd_6vIXX826V2O1bDMS",
        "type": "SnackBar",
        "z": "sd_BNzQZjSoa1iUKQ1R",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Rejected table closed"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_6vIXX826V2O1bDMS",
        "category": "General",
        "x": 250,
        "y": 480,
        "wires": [
            [
                "sd_h3QGlYp0DREQ4FED"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "rejectedComponent",
        "generated": true
    },
    {
        "id": "sd_h3QGlYp0DREQ4FED",
        "type": "PageCallService",
        "z": "sd_BNzQZjSoa1iUKQ1R",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_BNzQZjSoa1iUKQ1R",
            "type": "tab",
            "createdDate": "2024-06-18T03:21:23.789Z",
            "label": "rejected",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_O6qhcSCArSRCipRn",
            "flowName": "refreshAllApplications"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "refreshAllApplications",
        "inputParams": [],
        "accept_csd": false,
        "functionName": "sd_h3QGlYp0DREQ4FED",
        "category": "General",
        "x": 350,
        "y": 480,
        "wires": [
            [
                "sd_cExgwisPoBIevV56"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "rejectedComponent",
        "generated": true
    },
    {
        "id": "sd_cExgwisPoBIevV56",
        "type": "PageCallService",
        "z": "sd_BNzQZjSoa1iUKQ1R",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_BNzQZjSoa1iUKQ1R",
            "type": "tab",
            "createdDate": "2024-06-18T03:21:23.789Z",
            "label": "rejected",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_Ngm9j4MpO96wnUWh",
            "flowName": "determineUnreadNotifications"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "determineUnreadNotifications",
        "inputParams": [],
        "accept_csd": false,
        "functionName": "sd_cExgwisPoBIevV56",
        "category": "General",
        "x": 490,
        "y": 480,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "rejectedComponent",
        "generated": true
    },
    {
        "id": "sd_6jMP96dguX5HtMt8",
        "type": "PageStart",
        "z": "sd_BNzQZjSoa1iUKQ1R",
        "viewType": "pages",
        "nodeType": "start",
        "name": "viewDocuments",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "row",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "viewDocuments",
        "category": "General",
        "x": 105,
        "y": 600,
        "wires": [
            [
                "sd_Zm2Gl06TfNzTjbnv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "rejectedComponent"
    },
    {
        "id": "sd_Zm2Gl06TfNzTjbnv",
        "type": "OpenDialog",
        "z": "sd_BNzQZjSoa1iUKQ1R",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 4,
        "flow": {
            "flowId": "sd_kAy5Bsm5JnaFapnP",
            "label": "documents"
        },
        "relativePath": "app/components/documents",
        "data": "bh.input.row",
        "ariaDescribedBy": "this.page",
        "ariaLabel": "this.page",
        "ariaLabelledBy": "this.page",
        "autoFocus": "this.page",
        "backdropClass": "this.page",
        "closeOnNavigation": "this.page",
        "direction": "this.page",
        "disableClose": "this.page",
        "hasBackdrop": "this.page",
        "height": "this.page",
        "maxHeight": "this.page",
        "minHeight": "this.page",
        "width": "this.page",
        "maxWidth": "this.page",
        "minWidth": "this.page",
        "panelClass": "this.page",
        "position": "this.page",
        "restoreFocus": "this.page",
        "role": "this.page",
        "resultMapping": "this.page",
        "functionName": "sd_Zm2Gl06TfNzTjbnv",
        "category": "Dialog",
        "x": 190,
        "y": 600,
        "wires": [
            [],
            [],
            [],
            []
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "bh.input",
                "value": "row",
                "constant": false
            },
            "ariaDescribedBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabel": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabelledBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "autoFocus": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "backdropClass": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "closeOnNavigation": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "direction": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "disableClose": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "hasBackdrop": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "height": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "maxHeight": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "minHeight": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "width": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "maxWidth": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "minWidth": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "panelClass": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "position": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "restoreFocus": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "role": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "resultMapping": {
                "type": "this.page",
                "value": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "rejectedComponent",
        "generated": true
    }
]
