designs/pages/reset_password.json
[
    {
        "id": "sd_ZWoTq3MQ9ZA5GeoX",
        "type": "tab",
        "createdDate": "2024-06-14T07:37:20.178Z",
        "label": "reset_password",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "reset_passwordComponent"
    },
    {
        "id": "sd_1JiUpyHJA3Z5aCxM",
        "type": "OnInit",
        "z": "sd_ZWoTq3MQ9ZA5GeoX",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_1JiUpyHJA3Z5aCxM",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 40,
        "wires": [
            [
                "sd_wDrALPSvJKa4Numg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "reset_passwordComponent"
    },
    {
        "id": "sd_wDrALPSvJKa4Numg",
        "type": "PageVariables",
        "z": "sd_ZWoTq3MQ9ZA5GeoX",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "showSpinner",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            }
        ],
        "functionName": "sd_wDrALPSvJKa4Numg",
        "category": "Function",
        "x": 125,
        "y": 40,
        "wires": [
            [
                "sd_dl9L2FSp887AOlYY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_gchMGEM4IAlcp0lo",
        "type": "PageStart",
        "z": "sd_ZWoTq3MQ9ZA5GeoX",
        "viewType": "pages",
        "nodeType": "start",
        "name": "submit email",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "submitEmail",
        "category": "General",
        "x": 65,
        "y": 200,
        "wires": [
            [
                "sd_13PXKzAUpcvfDT3y"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "reset_passwordComponent"
    },
    {
        "id": "sd_13PXKzAUpcvfDT3y",
        "type": "Script",
        "z": "sd_ZWoTq3MQ9ZA5GeoX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showSpinner = true\n\nconsole.log(\"first script ==>\",page.passwordFormGroup.value)",
        "functionName": "sd_13PXKzAUpcvfDT3y",
        "category": "Function",
        "x": 165,
        "y": 200,
        "wires": [
            [
                "sd_CoDm9SlVxY7t1dZD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_CoDm9SlVxY7t1dZD",
        "type": "PageSwitch",
        "z": "sd_ZWoTq3MQ9ZA5GeoX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "passwordFormGroup.invalid",
        "propertyType": "this.page",
        "propertyGv": "this.page.passwordFormGroup.invalid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_CoDm9SlVxY7t1dZD",
        "category": "Function",
        "x": 265,
        "y": 200,
        "wires": [
            [
                "sd_jotkOcDDqF8CGWqw"
            ],
            [
                "sd_E6MI687XciUekktn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_dl9L2FSp887AOlYY",
        "type": "UseDependency",
        "z": "sd_ZWoTq3MQ9ZA5GeoX",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_dl9L2FSp887AOlYY",
        "category": "Function",
        "x": 225,
        "y": 40,
        "wires": [
            [
                "sd_lfn2kKUEs82rCBFn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_jotkOcDDqF8CGWqw",
        "type": "SnackBar",
        "z": "sd_ZWoTq3MQ9ZA5GeoX",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Please fill in all fields"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_jotkOcDDqF8CGWqw",
        "category": "General",
        "x": 365,
        "y": 160,
        "wires": [
            [
                "sd_aF3WT1QExhXEvpkQ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_gwvoqeZQi70KHRH8",
        "type": "Environment",
        "z": "sd_ZWoTq3MQ9ZA5GeoX",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdURL"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_gwvoqeZQi70KHRH8",
        "category": "General",
        "x": 445,
        "y": 260,
        "wires": [
            [
                "sd_tcwnBWoe9fGcuh1H"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_tcwnBWoe9fGcuh1H",
        "type": "Script",
        "z": "sd_ZWoTq3MQ9ZA5GeoX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdURL + '/reset-password'\n\nbh.body = page.passwordFormGroup\ndelete bh.body.value.confirmPassword\nbh.newAdmin = bh.body.value\n",
        "functionName": "sd_tcwnBWoe9fGcuh1H",
        "category": "Function",
        "x": 525,
        "y": 260,
        "wires": [
            [
                "sd_HdUsIlq9pNpLGwEI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_HdUsIlq9pNpLGwEI",
        "type": "HttpRequest",
        "z": "sd_ZWoTq3MQ9ZA5GeoX",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "put",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.passwordFormGroup.value",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "passwordFormGroup.value"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_HdUsIlq9pNpLGwEI",
        "category": "HTTP",
        "x": 605,
        "y": 260,
        "wires": [
            [
                "sd_9n3g0GjyeAHca6Bb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_lfn2kKUEs82rCBFn",
        "type": "Storage",
        "z": "sd_ZWoTq3MQ9ZA5GeoX",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "admin"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "user"
        },
        "functionName": "sd_lfn2kKUEs82rCBFn",
        "category": "Storage",
        "x": 325,
        "y": 40,
        "wires": [
            [
                "sd_X0jjGMdhOBvBByBp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_aF3WT1QExhXEvpkQ",
        "type": "Script",
        "z": "sd_ZWoTq3MQ9ZA5GeoX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showSpinner = false",
        "functionName": "sd_aF3WT1QExhXEvpkQ",
        "category": "Function",
        "x": 465,
        "y": 160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_E6MI687XciUekktn",
        "type": "PageSwitch",
        "z": "sd_ZWoTq3MQ9ZA5GeoX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "passwordFormGroup.controls['password'].value",
        "propertyType": "this.page",
        "propertyGv": "this.page.passwordFormGroup.controls['password'].value",
        "rules": [
            {
                "t": "se",
                "v": "passwordFormGroup.controls['confirmPassword'].value",
                "vt": "this.page",
                "gv": "this.page.passwordFormGroup.controls['confirmPassword'].value"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_E6MI687XciUekktn",
        "category": "Function",
        "x": 345,
        "y": 300,
        "wires": [
            [
                "sd_gwvoqeZQi70KHRH8"
            ],
            [
                "sd_dWqmfi671RF9Pp95"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_dWqmfi671RF9Pp95",
        "type": "SnackBar",
        "z": "sd_ZWoTq3MQ9ZA5GeoX",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "passwords don't match"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_dWqmfi671RF9Pp95",
        "category": "General",
        "x": 445,
        "y": 340,
        "wires": [
            [
                "sd_3b1FaGRDByJYhiLO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_3b1FaGRDByJYhiLO",
        "type": "Script",
        "z": "sd_ZWoTq3MQ9ZA5GeoX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showSpinner = false",
        "functionName": "sd_3b1FaGRDByJYhiLO",
        "category": "Function",
        "x": 525,
        "y": 340,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_9n3g0GjyeAHca6Bb",
        "type": "Script",
        "z": "sd_ZWoTq3MQ9ZA5GeoX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showSpinner = false;\n",
        "functionName": "sd_9n3g0GjyeAHca6Bb",
        "category": "Function",
        "x": 685,
        "y": 260,
        "wires": [
            [
                "sd_DZp9QHGhYXF8ps92"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_DZp9QHGhYXF8ps92",
        "type": "Navigation",
        "z": "sd_ZWoTq3MQ9ZA5GeoX",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/login",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_DZp9QHGhYXF8ps92",
        "category": "Navigation",
        "x": 785,
        "y": 260,
        "wires": [
            [
                "sd_REAnTJdSG88AbOAw"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_REAnTJdSG88AbOAw",
        "type": "SnackBar",
        "z": "sd_ZWoTq3MQ9ZA5GeoX",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Password changed successfully"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_REAnTJdSG88AbOAw",
        "category": "General",
        "x": 865,
        "y": 260,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_X0jjGMdhOBvBByBp",
        "type": "PageCallService",
        "z": "sd_ZWoTq3MQ9ZA5GeoX",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_taxbwnmVnLmX0xn8",
            "type": "tab",
            "createdDate": "2024-06-01T15:55:59.764Z",
            "label": "common",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_7la9rmA713xPkODo",
            "flowName": "getVariable"
        },
        "inputVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "data",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "data",
                "localVar": "bh.result"
            }
        ],
        "serviceImportPath": "app/sd-services/common",
        "startName": "getVariable",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_X0jjGMdhOBvBByBp",
        "category": "General",
        "x": 405,
        "y": 40,
        "wires": [
            [
                "sd_5G8j7UJA7FaAVEgO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_5G8j7UJA7FaAVEgO",
        "type": "Script",
        "z": "sd_ZWoTq3MQ9ZA5GeoX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.passwordFormGroup = new FormGroup({\n    password: new FormControl('',[Validators.required]),\n    confirmPassword: new FormControl('', [Validators.required]),\n    email: new FormControl(bh.result[0].email)\n})",
        "functionName": "sd_5G8j7UJA7FaAVEgO",
        "category": "Function",
        "x": 485,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_passwordComponent",
        "generated": true
    }
]
